# Files / Dirs
data/
json/
paper/figs/
materials/

# Misc filetypes/directories
*.DS_Store
*.Rproj.user
*.Rhistory
*.bib
*.csl
*.csv
*.json
*.pdf
*.png
*.pyc
*.tex
*.sty

# Jupter notebooks
*.ipynb_checkpoints/
.idea/

# R
.Rproj.user
*.Rhistory


